*.pyc
__pycache__/
db.sqlite3
.env
/static/
media/
node_modules/
venv/

# Ignore migrations
**/migrations/
!**/migrations/__init__.py
# Ignore local settings
local_settings.py
# Ignore IDE specific files
.vscode/
.idea/
# Ignore Python bytecode files
*.py[cod]
frontend_cart_example.js
test_cart_final.py
test_cart.py
test_enhanced_cart.py
Cart_example.jsx
debug_test.py
frontend_auth_example.js
test_checkout.py
CART_DOCUMENTATION.md